// Values of the colour palette
$def_bg_dim: #1e2326;
$def_bg_0: #272e33;
$def_bg_1: #2e383c;
$def_bg_2: #374145;
$def_bg_3: #414b50;
$def_bg_4: #495156;
$def_bg_5: #4f5b58;
$def_bg_red: #4c3743;
$def_bg_yellow: #45443c;
$def_bg_green: #3c4841;
$def_bg_blue: #384b55;
$def_red: #e67e80;
$def_orange: #e69875;
$def_yellow: #dbbc7f;
$def_green: #a7c080;
$def_aqua: #83c092;
$def_blue: #7fbbb3;
$def_purple: #d699b6;
$def_fg: #d3c6aa;

$base_color: $def_bg_0;
$text_color: $def_fg;
$bg_color: $def_bg_dim;
$fg_color: $def_fg;

$selected_bg_color: $def_aqua;
$selected_fg_color: $def_bg_0;
$selected_borders_color: $def_aqua;
$borders_color: $def_bg_2;
$separator_color: $def_bg_4;

$link_color: $def_blue;
$link_visited_color: $def_purple;

$selection_mode_bg: $selected_bg_color;
$selection_mode_fg: $selected_fg_color;
$warning_color: $def_orange;
$warning_fg_color: $def_bg_0;
$error_color: $def_red;
$error_fg_color: $def_bg_0;
$success_color: $def_green;
$destructive_color: $def_red;
$suggested_color: $def_aqua;
$question_color: $def_blue;

$drop_target_color: $selected_bg_color;

//insensitive state derived colors
$insensitive_fg_color: $def_bg_2;
$insensitive_bg_color: $def_bg_dim;
$insensitive_border_color: $def_bg_1;

$dim_label_fg_color: red;

$header_bg: $bg_color;
$header_bg_backdrop: $bg_color;

$header_border: darken($header_bg, 4%);
$header_highlight: #373737;

$header_fg: $fg_color;

$menu_selected_bg_color: transparentize(white, 0.9);

$dark_sidebar_bg: $def_bg_dim;
$dark_sidebar_fg: $fg_color;
$dark_sidebar_border: $borders_color;

$filechooser_bg: $header_bg;

$tooltip_bg_color: transparentize(mix($selected_bg_color, black, 95%), 0.05);
$tooltip_fg_color: $selected_fg_color;

$osd_fg_color: #dbdbdb;
$osd_bg_color: #353535;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);

$panel_bg: #2f2f2f;
$panel_fg: #DADADA;

$entry_bg: $base_color;
$entry_border: darken($borders_color, 0%);

$header_entry_bg: transparentize(lighten($header_bg, 22%), 0.6);
$header_entry_border: transparentize(darken($header_bg, 12%), 0.6);

$button_bg: lighten($base_color, 2%);
$button_border: $borders_color;
$button_active_bg: transparentize(black, 0.85);
$button_active_border: darken($button_border, 10%);

$header_button_bg: transparentize(lighten($header_bg, 22%), 0.6);
$header_button_border: transparentize(darken($header_bg, 12%), 0.6);

$trough_color_treeview: #2e383c;
$trough_color: #2e383c;

// WM Colors

$wm_title: $fg_color;
$wm_title_unfocused: #a7a7a7;
$wm_bg: $header_bg;
$wm_bg_unfocused: $header_bg;
$wm_highlight: $header_highlight;
$wm_border: $header_border;
$wm_border_unfocused: lighten($header_border, 5%);

//WM Buttons

// Close
$wm_button_close_bg: $selected_bg_color;
$wm_button_close_hover_bg: lighten($selected_bg_color, 14%);
$wm_button_close_active_bg: darken($selected_bg_color, 20%);

$wm_icon_close_bg: #f8f8f8;

// Minimize, Maximize
$wm_button_hover_bg: #4c4c4c;
$wm_button_active_bg: #949494;

$wm_icon_bg: #909090;
$wm_icon_unfocused_bg: #555555;
$wm_icon_hover_bg: #C4C7CC;
$wm_icon_active_bg: #ffffff;

// Terminal color
$terminal_bg: $def_bg_0;
